#container{
	 display: flex;
	flex-direction: column;
}

body {
	font-family: arial,sans-serif;
	text-align: center;
	font-size: 13px;
}
input {
	width: 600px;
	display: block;
	height: 45px;
	margin-top: 40px;
	margin-bottom: 5px;
}


.logo {
	position: relative;
	margin-top: 130px; 
	margin: center;

}


#content{ 
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

}
 hr {

 }

a {
	text-decoration: none;
	color: #001326;
	margin: 10px 3px 5px 3px;
	padding:  5px 3px 5px 3px; 
	font-size: 13px;

}
.sign {
	margin: 2px 15px 2px 15px;
	padding:  3px 8px 3px 8px;
	width: 65px;
	height: 30px;
	border: 1px solid #3873db;
	border-radius: 2px 2px 2px 2px; 
	background-color: #3873db;
	font-size: 12px;
}

.sign a {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}

#header
 {
 	display: flex;
 	width: 100%;
 	align-items:center;
 	justify-content: flex-end;

 }
  #header button a {
  	font-size: 12px;
  }

 #footer {
 	background-color: #e0e0eb;
 	width: 100%;
 	height: 63px;
 	border: 1px solid #e0e0eb;
 	position: absolute;
	margin-top: 44% ;
 	display: flex;
 	align-items: stretch;
 	color: #5f5d6b;
 
 }



.two{
	margin-top: 30px ;
	align-self: center;
	margin-bottom: 15px;
}

.two button {
	font-weight: bold;
	padding: 1px 7px 1px 7px;
	height: 33px;
	width: 145px;
	margin-left: 10px;
	color: #8f8ca5;
	background-color: #f2f0ff;
	border: 1px solid #8f8ca5;
	opacity: 0.5;
}


.right {
	border: 1px solid block;
	position: absolute;
	margin:  35px 35px 15px 73%;
}


#content .two button a: hover {
	font-weight: bold;
}

.left {
	border: 1px solid block;
	position: absolute;
	margin: 35px 45px 15px 35px ;

}

.two button: hover{
	color: black;
	border:1px solid black;
}

a:hover {
	text-decoration: underline;
}

p a {
	color: blue;
}

#footer p { 
	margin-left: 45px;  }

#footer a {
	color: #5f5d6b;
}